
@{
    ViewBag.Title = "XacnhanDH";
    Layout = "~/Views/_LayoutUsers.cshtml";
}

<h2 style="color: white; font-weight: bold">Đơn đặt hàng thành công! Cảm ơn quý khách đã mua hàng tại shop!</h2>
<p>@Html.ActionLink("VỀ TRANG CHỦ","Index","Home")</p>

